In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [21]:
df = pd.read_csv('gurgaon_properties_missing_value_imputation.csv')

In [72]:
pd.set_option('display.max_rows', None)

In [22]:
df.shape

(3554, 18)

In [23]:
df.head()

,property_type,society,sector,price,price_per_sqft,bedRoom,bathroom,balcony,floorNum,agePossession,built_up_area,study room,servant room,store room,pooja room,others,furnishing_type,luxury_score
0,flat,dlf the arbour,sector 63,7.90,20000.0,4.0,4.0,3+,34.0,Under Construction,3950.0,0.0,0.0,0.0,0.0,0.0,1.0,61.0
1,flat,birla navya,sector 63a,3.70,15417.0,3.0,3.0,3+,1.0,Under Construction,2667.0,0.0,0.0,0.0,0.0,0.0,1.0,72.0
2,flat,deepak minda,manesar,1.20,4528.0,3.0,3.0,3+,6.0,Moderately Old,2944.0,0.0,1.0,0.0,0.0,0.0,1.0,7.0
3,house,unitech uniworld resorts,sector 33,11.50,24573.0,5.0,6.0,3+,4.0,Relatively New,4680.0,0.0,1.0,0.0,0.0,0.0,1.0,84.0
4,flat,ireo the corridors,sector 67a,1.85,9531.0,3.0,4.0,3,4.0,New Property,1941.0,1.0,0.0,1.0,0.0,0.0,0.0,150.0

In [96]:
latlong = pd.read_csv('gurgaon_sectors_coordinates.csv')

In [97]:
latlong.shape

(115, 2)

In [98]:
latlong.dtypes

Sector         object
Coordinates    object
dtype: object

In [99]:
new_row = {'Sector': 'Sector 10a', 'Coordinates': '28.4469° N, 77.0106° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 9

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [100]:
latlong.shape

(116, 2)

In [101]:
new_row = {'Sector': 'Sector 17a', 'Coordinates': '28.4785° N, 77.0600° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 17

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [102]:
new_row = {'Sector': 'Sector 17b', 'Coordinates': '28.4806° N, 77.0663° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 18

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [103]:
new_row = {'Sector': 'Sector 37a', 'Coordinates': '28.4419° N, 76.9924° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 39

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [104]:
new_row = {'Sector': 'Sector 37c', 'Coordinates': '28.4515° N, 76.9882° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 40

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [106]:
new_row = {'Sector': 'Sector 37d', 'Coordinates': '28.4478° N, 76.9703° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 41

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [108]:
new_row = {'Sector': 'Sector 63a', 'Coordinates': '28.3923° N, 77.0888° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 68

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [110]:
new_row = {'Sector': 'Sector 67a', 'Coordinates': '28.3790° N, 77.0552° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 73

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [112]:
new_row = {'Sector': 'Sector 82a', 'Coordinates': '28.3858° N, 76.9686° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 89

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [114]:
new_row = {'Sector': 'Sector 88a', 'Coordinates': '28.4347° N, 76.9557° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 96

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [115]:
new_row = {'Sector': 'Sector 88b', 'Coordinates': '28.4446° N, 76.9542° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 97

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [117]:
new_row = {'Sector': 'Sector 99a', 'Coordinates': '28.4561° N, 76.9542° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 109

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [119]:
new_row = {'Sector': 'gwal pahari', 'Coordinates': '28.4139° N, 77.0324° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 126

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [121]:
new_row = {'Sector': 'manesar', 'Coordinates': '28.3362° N, 76.9314° E'}

# Assuming you want to insert the new row after index 2
index_to_insert_after = 127

# Use the loc method to insert the row at the specified index
latlong = pd.concat([latlong.iloc[:index_to_insert_after + 1], pd.DataFrame([new_row], columns=latlong.columns), latlong.iloc[index_to_insert_after + 1:]]).reset_index(drop=True)

In [122]:
latlong

          Sector             Coordinates
0       Sector 1  28.5176° N, 77.0454° E
1       Sector 2  28.5095° N, 77.0320° E
2       Sector 3  28.4909° N, 77.0176° E
3       Sector 4  28.4738° N, 77.0107° E
4       Sector 5  28.4794° N, 77.0176° E
5       Sector 6  28.4745° N, 77.0262° E
6       Sector 7  28.4644° N, 77.0143° E
7       Sector 8  28.3738° N, 76.8970° E
8       Sector 9  28.4603° N, 77.0000° E
9      Sector 10  28.4537° N, 77.0009° E
10    Sector 10a  28.4469° N, 77.0106° E
11     Sector 11  28.4531° N, 77.0202° E
12     Sector 12  28.4723° N, 77.0320° E
13     Sector 13  28.4757° N, 77.0392° E
14     Sector 14  28.4711° N, 77.0454° E
15     Sector 15  28.4621° N, 77.0464° E
16     Sector 16  28.4684° N, 77.0521° E
17     Sector 17  28.4791° N, 77.0608° E
18    Sector 17a  28.4785° N, 77.0600° E
19    Sector 17b  28.4806° N, 77.0663° E
20     Sector 18  28.4908° N, 77.0690° E
21     Sector 19  28.5040° N, 77.0748° E
22     Sector 20  28.5106° N, 77.0857° E
23     Sector 21  28.5134° N, 77.0723° E
24     Sector 22  28.5072° N, 77.0640° E
25     Sector 23  28.5121° N, 77.0478° E
26     Sector 24  28.4939° N, 77.1038° E
27     Sector 25  28.4844° N, 77.0860° E
28     Sector 26  28.4757° N, 77.1032° E
29     Sector 27  28.4658° N, 77.0917° E
30     Sector 28  28.4728° N, 77.0865° E
31     Sector 29  28.4669° N, 77.0663° E
32     Sector 30  28.4604° N, 77.0579° E
33     Sector 31  28.4528° N, 77.0498° E
34     Sector 32  28.4472° N, 77.0406° E
35     Sector 33  28.4420° N, 77.0207° E
36     Sector 34  28.4294° N, 77.0048° E
37     Sector 35  28.4155° N, 77.0022° E
38     Sector 36  28.4160° N, 76.9914° E
39     Sector 37  28.4375° N, 76.9999° E
40    Sector 37a  28.4419° N, 76.9924° E
41    Sector 37c  28.4515° N, 76.9882° E
42    Sector 37d  28.4478° N, 76.9703° E
43     Sector 38  28.4347° N, 77.0430° E
44     Sector 39  28.4434° N, 77.0515° E
45     Sector 40  28.4498° N, 77.0567° E
46     Sector 41  28.4557° N, 77.0632° E
47     Sector 42  28.4576° N, 77.1020° E
48     Sector 43  28.4629° N, 77.0772° E
49     Sector 44  28.4485° N, 77.0759° E
50     Sector 45  28.4466° N, 77.0660° E
51     Sector 46  28.4374° N, 77.0586° E
52     Sector 47  28.4276° N, 77.0492° E
53     Sector 48  28.4177° N, 77.0359° E
54     Sector 49  28.4121° N, 77.0480° E
55     Sector 50  28.4178° N, 77.0628° E
56     Sector 51  28.4320° N, 77.0686° E
57     Sector 52  28.4379° N, 77.0785° E
58     Sector 53  28.4433° N, 77.0948° E
59     Sector 54  28.4348° N, 77.1089° E
60     Sector 55  28.4281° N, 77.1100° E
61     Sector 56  28.4245° N, 77.0991° E
62     Sector 57  28.4232° N, 77.0752° E
63     Sector 58  28.4200° N, 77.1105° E
64     Sector 59  28.4051° N, 77.1097° E
65     Sector 60  28.4003° N, 77.0975° E
66     Sector 61  28.4050° N, 77.0963° E
67     Sector 62  28.4139° N, 77.0886° E
68     Sector 63  28.3971° N, 77.0867° E
69    Sector 63a  28.3923° N, 77.0888° E
70     Sector 64  28.3903° N, 77.0752° E
71     Sector 65  28.4030° N, 77.0690° E
72     Sector 66  28.3925° N, 77.0541° E
73     Sector 67  28.3859° N, 77.0608° E
74    Sector 67a  28.3790° N, 77.0552° E
75     Sector 68  28.3853° N, 77.0484° E
76     Sector 69  28.3966° N, 77.0341° E
77     Sector 70  28.3968° N, 77.0233° E
78     Sector 71  28.4104° N, 77.0281° E
79     Sector 72  28.4225° N, 77.0211° E
80     Sector 73  28.4072° N, 77.0118° E
81     Sector 74  28.4158° N, 77.0118° E
82     Sector 75  28.3925° N, 77.0089° E
83     Sector 76  28.3935° N, 76.9888° E
84     Sector 77  28.3801° N, 76.9845° E
85     Sector 78  28.3733° N, 76.9729° E
86     Sector 79  28.3624° N, 76.9787° E
87     Sector 80  28.3659° N, 76.9557° E
88     Sector 81  28.3867° N, 76.9485° E
89     Sector 82  28.3935° N, 76.9600° E
90    Sector 82a  28.3858° N, 76.9686° E
91     Sector 83  28.3986° N, 76.9647° E
92     Sector 84  28.3979° N, 76.9736° E
93     Sector 85  28.4042° N, 76.9513° E
94     Sector 86  28.3986° N, 76.9384° E
95     Sector 87  28.3936° N, 76.9312° E
96     Sector 88  28.4220° N, 76.9571° E
97    Sector 88a  28.4347° N, 76.9557° E
98    Sector 88b  28.4446° N, 76.9542° E
99     Sector 89  28.4253° N, 76.9439° E
100    Sector 90  28.4085° N, 76.9369° E
101    Sector 91  28.4014° N, 76.9225° E
102    Sector 92  28.4079° N, 76.9153° E
103    Sector 93  28.4153° N, 76.9326° E
104    Sector 94  28.4223° N, 76.9312° E
105    Sector 95  28.4172° N, 76.9081° E
106    Sector 96  28.3966° N, 76.8735° E
107    Sector 97  28.4086° N, 76.8793° E
108    Sector 98  28.4192° N, 76.8995° E
109    Sector 99  28.4640° N, 76.9614° E
110   Sector 99a  28.4561° N, 76.9542° E
111   Sector 100  28.4613° N, 76.9708° E
112   Sector 101  28.4672° N, 76.9801° E
113   Sector 102  28.4750° N, 76.9715° E
114   Sector 103  28.4949° N, 76.9845° E
115   Sector 104  28.4788° N, 76.9960° E
116   Sector 105  28.4952° N, 77.0114° E
117   Sector 106  28.5007° N, 77.0003° E
118   Sector 107  28.5052° N, 76.9729° E
119   Sector 108  28.5134° N, 76.9830° E
120   Sector 109  28.5073° N, 77.0089° E
121   Sector 110  28.5145° N, 77.0197° E
122   Sector 111  28.5238° N, 77.0320° E
123   Sector 112  28.5282° N, 77.0176° E
124   Sector 113  28.5287° N, 77.0233° E
125   Sector 114  28.5334° N, 77.0118° E
126   Sector 115  28.5385° N, 77.0061° E
127  gwal pahari  28.4139° N, 77.0324° E
128      manesar  28.3362° N, 76.9314° E

In [123]:
latlong.to_csv('latlong.csv',index=False)